@layer base {
  :root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.137 0.036 258.526);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.137 0.036 258.526);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.137 0.036 258.526);
    --primary: oklch(0.488 0.217 264.388);
    --primary-foreground: oklch(0.984 0.003 247.859);
    --secondary: oklch(0.968 0.007 247.895);
    --secondary-foreground: oklch(0.208 0.04 265.727);
    --muted: oklch(0.968 0.007 247.895);
    --muted-foreground: oklch(0.555 0.041 257.44);
    --accent: oklch(0.968 0.007 247.895);
    --accent-foreground: oklch(0.208 0.04 265.727);
    --destructive: oklch(0.62 0.21 25);
    --destructive-foreground: oklch(0.99 0 0);
    --border: oklch(0.929 0.013 255.532);
    --input: oklch(0.929 0.013 255.532);
    --ring: oklch(0.488 0.217 264.388);

    --chart-1: oklch(0.637 0.208 25.331);
    --chart-2: oklch(0.696 0.149 162.48);
    --chart-3: oklch(0.769 0.165 70.08);
    --chart-4: oklch(0.685 0.148 237.323);
    --chart-5: oklch(0.606 0.219 292.717);

    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.146 0 0);
    --sidebar-primary: oklch(0.204 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.204 0 0);
    --sidebar-border: oklch(0.923 0 0);
    --sidebar-ring: oklch(0.555 0 0);

    --radius: 0.5rem;

    --font-inter: 'Inter', 'Inter Fallback';

    --shadow-x: 2px;
    --shadow-y: 2px;
    --shadow-blur: 4px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.2;
    --shadow-color: oklch(0.872 0.01 258.338);
  }

  .dark {
    --background: oklch(0.137 0.036 258.526);
    --foreground: oklch(0.984 0.003 247.859);
    --card: oklch(0.137 0.036 258.526);
    --card-foreground: oklch(0.984 0.003 247.859);
    --popover: oklch(0.137 0.036 258.526);
    --popover-foreground: oklch(0.984 0.003 247.859);
    --primary: oklch(0.488 0.217 264.388);
    --primary-foreground: oklch(0.984 0.003 247.859);
    --secondary: oklch(0.28 0.037 259.974);
    --secondary-foreground: oklch(0.984 0.003 247.859);
    --muted: oklch(0.28 0.037 259.974);
    --muted-foreground: oklch(0.711 0.035 256.788);
    --accent: oklch(0.28 0.037 259.974);
    --accent-foreground: oklch(0.984 0.003 247.859);
    --destructive: oklch(0.68 0.2 25);
    --destructive-foreground: oklch(0.99 0 0);
    --border: oklch(0.28 0.037 259.974);
    --input: oklch(0.28 0.037 259.974);
    --ring: oklch(0.488 0.217 264.388);

    --chart-1: oklch(0.711 0.166 22.216);
    --chart-2: oklch(0.773 0.153 163.223);
    --chart-3: oklch(0.837 0.164 84.429);
    --chart-4: oklch(0.754 0.139 232.661);
    --chart-5: oklch(0.709 0.159 293.541);

    --sidebar: oklch(0.204 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.81 0.098 251.719);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.27 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 0.1);
    --sidebar-ring: oklch(0.555 0 0);

    --shadow-x: 2px;
    --shadow-y: 2px;
    --shadow-blur: 4px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.2;
    --shadow-color: oklch(0.373 0.034 259.733);
  }
}

/* customized colors - base */
@layer base {
  :root {
    --primary-soft: oklch(0.872 0.061 274.066);
    --secondary-soft: oklch(0.928 0.006 264.531);
    --tertiary: oklch(0.541 0.247 292.951);
    --tertiary-foreground: oklch(0.984 0.002 247.84);
    --tertiary-soft: oklch(0.894 0.055 293.282);
    --destructive-soft: oklch(0.96 0.035 25);
    --accent-soft: oklch(0.928 0.006 264.531);
    --info: oklch(0.58 0.19 255);
    --info-soft: oklch(0.96 0.035 255);
    --info-foreground: oklch(0.99 0 0);

    --warning: oklch(0.72 0.17 70);
    --warning-soft: oklch(0.97 0.04 90);
    --warning-foreground: oklch(0.25 0.04 70);

    --success: oklch(0.63 0.16 160);
    --success-soft: oklch(0.96 0.035 160);
    --success-foreground: oklch(0.99 0 0);

    --danger: var(--destructive);
    --danger-foreground: var(--destructive-foreground);
    --danger-soft: var(--destructive-soft);
  }

  .dark {
    --primary-soft: oklch(0.872 0.061 274.066);
    --secondary-soft: oklch(0.407 0.004 264.523);
    --tertiary: oklch(0.491 0.241 292.588);
    --tertiary-foreground: oklch(0.984 0.002 247.84);
    --tertiary-soft: oklch(0.894 0.055 293.282);
    --destructive-soft: oklch(0.25 0.06 25);
    --accent-soft: oklch(0.407 0.004 264.523);
    --info: oklch(0.68 0.18 255);
    --info-soft: oklch(0.24 0.055 255);
    --info-foreground: oklch(0.99 0 0);

    --warning: oklch(0.78 0.17 70);
    --warning-soft: oklch(0.25 0.055 70);
    --warning-foreground: oklch(0.99 0 0);

    --success: oklch(0.7 0.16 160);
    --success-soft: oklch(0.23 0.055 160);
    --success-foreground: oklch(0.99 0 0);

    --danger: var(--destructive);
    --danger-foreground: var(--destructive-foreground);
    --danger-soft: var(--destructive-soft);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    @apply cursor-pointer;
  }

  ::-webkit-scrollbar {
    @apply size-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-muted;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-muted-foreground;
  }

  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--background) inset !important;
    box-shadow: 0 0 0 1000px var(--background) inset !important;
    -webkit-text-fill-color: var(--foreground) !important;
  }
}
